<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <form class="logout" action="/" method="POST">
            <label>{{session.username}}</label>
            <input type="submit" value="Logout">
        </form>
        <div class="primaryHeader">
            <h1>TechForge</h1>
            <div class="navbar">
                <ul>
                    {%if session.user_type == 'customer'%}
                    <li><a href="{{ url_for('login_registration_blueprint.my_account')}}">My Account</a></li>
                    <li><a href="{{ url_for('products_blueprint.render_products')}}">Products</a></li>
                    <li><a href="{{ url_for('reviews_blueprint.reviews')}}">Reviews</a></li>
                    <li><a href="{{ url_for('carts_blueprint.cart')}}">Cart</a></li>
                    <li><a href="{{ url_for('orders_blueprint.orders')}}">My Orders</a></li>
                    <li><a href="{{ url_for('complaints_blueprint.complaints')}}">My Complaints</a></li>
                    <li><a href="{{ url_for('chats_blueprint.chat')}}">Chat</a></li>
                    {%endif%}
                    {%if session.user_type == 'vendor'%}
                    <li><a href="{{ url_for('products_blueprint.render_products')}}">Products</a></li>
                    <li><a href="{{ url_for('orders_blueprint.orders')}}">Received Orders</a></li>
                    <li><a href="{{ url_for('chats_blueprint.chat')}}">Chat</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>

    <div class="orders">
        {% for order in orders %}
        <div class="order">
            <div class="order_title_row">
                <div class="order_title_column"><p><strong>Order ID:</strong> {{order.order_id}}</p></div>
                <div class="order_title_column"><p><strong>Date:</strong> {{order.date}}</p></div>
                <div class="order_title_column"><p><strong>Status:</strong> {{order.order_status}}</p></div>
                {% if session.user_type == 'vendor' and order.order_status != 'delivered' %}
                <div class="order_title_column">
                    <form action="update_order_status" method="POST">
                        <input type="hidden" name="order_id" value="{{order.order_id}}">
                        <select class="small_btn" name="order_status">
                            <option value="pending">Pending</option>
                            <option value="confirmed">Confirmed</option>
                            <option value="shipped">Shipped</option>
                            <option value="delivered">Delivered</option>
                            <input class="small_btn" type="submit" value="Submit">
                        </select>
                    </form>
                </div>
                {% else %}
                <div class="order_title_column"></div>
                {% endif %}
                <div class="order_title_column"></div>
                {%if session.user_type == 'customer' %}
                <div class="order_title_column"><p>Total: ${{order.price}}</div>
                <div class="order_title_column"></div>
                {% else %}
                <div class="order_title_column"></div>
                {% endif %}
            </div>
            {% for product in products %}
            {% if product.order_id == order.order_id %}
            <div class="popup_form review_popup_container review_popup_hidden">
                <form class="review_form" action="submit_review" method="POST">
                    <h2>Review</h2>
                    <input type="hidden" name="variant_id" value="{{product.variant_id}}">
                    <input type="hidden" name="product_id" value="{{product.product_id}}">
                    <input class="form_textbox" type="number" min="1" max="5" name="rating" placeholder="Rating" required><br>
                    <textarea class="form_textbox form_description" name="description" id="" cols="30" rows="10" required></textarea>
                    <input class="submit review_submit" type="submit" value="Submit">
                </form>
                <button class="close_review_btn close">Close</button>
            </div>
            <div class="popup_form complaint_popup_container complaint_popup_hidden">
                <form action="submit_complaint" method="POST">
                    <h2>Complaint</h2>
                    <input type="hidden" name="variant_id" value="{{product.variant_id}}">
                    <input type="hidden" name="product_id" value="{{product.product_id}}">
                    <input class="form_textbox" type="text" name="complaint_title" placeholder="title" required><br>
                    <textarea class="form_textbox form_description" name="complaint_description" id="" cols="30" rows="10" required></textarea>
                    <select class="form_textbox" name="demand">
                        <option value="return">Return</option>
                        <option value="refund">Refund</option>
                   </select> <br>
                    <input class="submit review_submit" type="submit" value="Submit">
                </form>
                <button class="close_complaint_btn close">Close</button>
            </div>
            <div class="order_row">
                <div class="order_column"><p>{{product.title}}</p></div>
                <div class="order_column"><p>{{product.size}}</p></div>
                <div class="order_column"><p>{{product.color}}</p></div>                
                {%if product.discount_price %}
                <div class="order_column"><p>${{product.discount_price}}</p></div>
                {%else%}
                <div class="order_column"><p>${{product.price}}</p></div>
                {%endif%}
                <div class="order_column"><p>Quantity: {{product.quantity}}</p></div>
                {%if product.discount_price %}
                <div class="order_column"><p class="subtotal">Subtotal: ${{product.discount_price * product.quantity}}</p></div>
                {%else%}
                <div class="order_column"><p class="subtotal">Subtotal: ${{product.price * product.quantity}}</p></div>
                {%endif%}
                {% if session.user_type == 'customer' and order.order_status == 'delivered' %}
                <div class="order_column">
                    <button class="open_review_btn small_btn">Review</button>
                    <button class="open_complaint_btn small_btn">Complaint</button>
                </div>
                {% elif session.user_type == 'customer' %}
                <div class="order_column"></div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="footer">
        <p>© TechForge</p>
    </div>

    <script src="static/js/orders.js"></script>
</body>
</html>