<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <form class="logout" action="/" method="POST">
            <label>{{session.username}}</label>
            <input type="submit" value="Logout">
        </form>
        <div class="primaryHeader">
            <h1>TechForge</h1>
            <div class="navbar">
                <ul>
                    {%if session.user_type == 'customer'%}
                    <li><a href="{{ url_for('login_registration_blueprint.my_account')}}">My Account</a></li>
                    <li><a href="{{ url_for('products_blueprint.render_products')}}">Products</a></li>
                    <li><a href="{{ url_for('reviews_blueprint.reviews')}}">Reviews</a></li>
                    <li><a href="{{ url_for('carts_blueprint.cart')}}">Cart</a></li>
                    <li><a href="{{ url_for('orders_blueprint.orders')}}">My Orders</a></li>
                    <li><a href="{{ url_for('complaints_blueprint.complaints')}}">My Complaints</a></li>
                    <li><a href="{{ url_for('chats_blueprint.chat')}}">Chat</a></li>
                    {%endif%}
                    {%if session.user_type == 'admin'%}
                    <li><a href="{{ url_for('products_blueprint.render_products')}}">Products</a></li>
                    <li><a href="{{ url_for('complaints_blueprint.complaints')}}">Recieved Complaints</a></li>
                    <li><a href="{{ url_for('chats_blueprint.chat')}}">Chat</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>

    {% for complaint in complaints %}
    <div class="card_container">
        <div class="card_image">
            <img src="../static/images/{{complaint.image}}" alt="">
        </div>
        <div class="card_info">
            <div class="card_row">
                <p><strong>Customer:</strong><br>{{complaint.first_name}} {{complaint.last_name}}</p>
                <p><strong>Demand:</strong><br>{{complaint.demand}}</p>
                <p><strong>Date:</strong><br>{{complaint.complaint_date}}</p>
                <p><strong>Status:</strong><br>{{complaint.complaint_status}}</p>
                {% if session.user_type == 'admin' %}
                <form action="update_complaint_status" method="POST">
                    <input type="hidden" name="complaint_id" value="{{complaint.complaint_id}}">
                    <select class="small_btn" name="complaint_status">
                        <option value="pending">Pending</option>
                        <option value="rejected">Rejected</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="processing">Processing</option>
                        <option value="complete">Complete</option>
                        <input class="small_btn" type="submit" value="Submit">
                    </select>
                </form>
                {% endif %}
            </div>
            <div class="card_row">
                <p><strong>Complaint:</strong> {{complaint.complaint_title}}</p>
                <p><strong>Product:</strong> {{complaint.title}}, {{complaint.size}}, {{complaint.color}}</p>
            </div>
            <p>{{complaint.complaint_description}}</p>
        </div>
    </div>
    {% endfor %}

    <div class="footer">
        <p>© Ecommerce Simulator</p>
    </div>

</body>
</html>