<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <div class="primaryHeader">
            <h1>TechForge</h1>
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('home_blueprint.index')}}">Home</a></li>
                    <li><a href="{{ url_for('products_blueprint.render_products')}}">Products</a></li>
                    <li><a href="{{ url_for('login_registration_blueprint.login')}}">Login</a></li>
                    <li><a href="{{ url_for('login_registration_blueprint.registration')}}">Registration</a></li>
                </ul>
            </div>
        </div>
    </div>

    <form class="login_form" action="/login" method="POST">
        <h2>Login</h2>
        <input class="form_textbox" type="text" name="user" placeholder="Email or Username"> <br>
        <input class="form_textbox" type="text" name="password" placeholder="Password"> <br>
        <input class="submit" type="submit" value="Submit"> <br>
        <a class="link" href="{{ url_for('login_registration_blueprint.registration')}}">Don't have an account? Register now</a> <br>
        {{message}}
    </form>

    <div class="footer">
        <p>© TechForge</p>
    </div>

</body>
</html>