<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <form class="logout" action="/" method="POST">
            <label>{{session.username}}</label>
            <input type="submit" value="Logout">
        </form>
        <div class="primaryHeader">
            <h1>TechForge</h1>
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('login_registration_blueprint.my_account')}}">My Account</a></li>
                    <li><a href="{{ url_for('products_blueprint.render_products')}}">Products</a></li>
                    <li><a href="{{ url_for('reviews_blueprint.reviews')}}">Reviews</a></li>
                    <li><a href="{{ url_for('carts_blueprint.cart')}}">Cart</a></li>
                    <li><a href="{{ url_for('orders_blueprint.orders')}}">My Orders</a></li>
                    <li><a href="{{ url_for('complaints_blueprint.complaints')}}">My Complaints</a></li>
                    <li><a href="{{ url_for('chats_blueprint.chat')}}">Chat</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="review_filter">
        <form action="filter_rating" method="POST">
            <select class="small_btn" name="rating_filter">
                <option value="high">Highest to lowest</option>
                <option value="low">Lowest to highest</option>
            </select>
            <input class="small_btn" type="submit" value="Filter">
        </form>
        <form action="reviews" method="GET">
            <input class="small_btn" type="submit" value="Clear filter">
        </form>
    </div>

    {% for review in reviews %}
    <div class="card_container">
        <div class="card_image">
            <img src="../static/images/{{review.image}}" alt="">
        </div>
        <div class="card_info">
            <div class="card_row">
                <p><strong>Reviewer:</strong> {{review.first_name}} {{review.last_name}}</p>
                <p><strong>Rating:</strong> {{review.rating}}</p>
                <p><strong>Date</strong> {{review.review_date}}</p>
            </div>
            <div class="card_row">
                <p><strong>Product:</strong> {{review.title}}, {{review.size}}, {{review.color}}</p>
            </div>
            <p>{{review.description}}</p>
        </div>
    </div>
    {% endfor %}

    <div class="footer">
        <p>© TechForge</p>
    </div>

</body>
</html>