<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <form class="logout" action="/" method="POST">
            <label>{{session.username}}</label>
            <input type="submit" value="Logout">
        </form>
        <div class="primaryHeader">
            <h1>Ecommerce<br>Simulator</h1>
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('my_account')}}">My Account</a></li>
                    <li><a href="{{ url_for('render_products')}}">Products</a></li>
                    <li><a href="{{url_for('reviews')}}">Reviews</a></li>
                    <li><a href="{{ url_for('cart')}}">Cart</a></li>
                    <li><a href="{{ url_for('orders')}}">My Orders</a></li>
                    <li><a href="{{url_for('complaints')}}">My Complaints</a></li>
                    <li><a href="{{url_for('chat')}}">Chat</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% set flash_messages = get_flashed_messages() %}
    {% if flash_messages %}
        {% for flash_message in flash_messages %}
          <p class="flash_message">{{ flash_message }}</p>
        {% endfor %}
    {% endif %}

    <div class="cart">
        {% for product in cart %}
        <div class="row">
            <img src="../static/images/laptop1.jpg" alt="">
            <p>{{product.title}}</p>
            <p>{{product.size}}</p>
            <p>{{product.color}}</p>
            {%if product.discount_price %}
            <p>${{product.discount_price}}</p>
            {%else%}
            <p>${{product.price}}</p>
            {%endif%}
            <form class="update_cart" action="update_cart" method="POST">
                <input type="hidden" name="variant_id" value="{{product.variant_id}}">
                <label for="quantity"><p>x</p></label>
                <input class="change_quantity" type="number" name="quantity" value="{{product.quantity}}" min="1" max="{{product.inventory_count}}">
                <input type="submit" value="Update">
            </form>
            {%if product.discount_price %}
            <p class="subtotal">Subtotal: ${{product.discount_price * product.quantity}}</p>
            {%else%}
            <p class="subtotal">Subtotal: ${{product.price * product.quantity}}</p>
            {%endif%}
            <form class="remove_from_cart" action="remove_from_cart" method="POST">
                <input type="hidden" name="variant_id" value="{{product.variant_id}}">
                <input type="submit" value="Remove">
            </form>
        </div>
        {% endfor %}
    </div>
    <form class="cart_total" action="place_order" method="POST">
        <p id="total"></p>
        <input type="hidden" name="total" id="total_input">
        <input type="submit" value="Place order">
    </form>


    <div class="footer">
        <p>© Ecommerce Simulator</p>
    </div>

    <script src="static/js/cart.js"></script>
</body>
</html>