<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <form class="logout" action="/" method="POST">
            <label>{{session.username}}</label>
            <input type="submit" value="Logout">
        </form>
        <div class="primaryHeader">
            <h1>Ecommerce<br>Simulator</h1>
            <div class="navbar">
                <ul>
                    {%if session.user_type == 'customer'%}
                    <li><a href="{{ url_for('my_account')}}">My Account</a></li>
                    <li><a href="{{ url_for('render_products')}}">Products</a></li>
                    <li><a href="{{url_for('reviews')}}">Reviews</a></li>
                    <li><a href="{{ url_for('cart')}}">Cart</a></li>
                    <li><a href="{{ url_for('orders')}}">My Orders</a></li>
                    <li><a href="{{url_for('complaints')}}">My Complaints</a></li>
                    <li><a href="{{url_for('chat')}}">Chat</a></li>
                    {%endif%}
                    {%if session.user_type == 'admin'%}
                    <li><a href="{{ url_for('render_products')}}">Products</a></li>
                    <li><a href="{{url_for('complaints')}}">Received Complaints</a></li>
                    <li><a href="{{ url_for('chat')}}">Chat</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>

    {% for complaint in complaints %}
    <div class="card_container">
        <div class="card_image">
            <img src="../static/images/laptop1.jpg" alt="">
        </div>
        <div class="card_info">
            <div class="card_row">
                <p>Customer: {{complaint.first_name}} {{complaint.last_name}}</p>
                <p>Demand: {{complaint.demand}}</p>
                <p>Complaint Date: {{complaint.complaint_date}}</p>
                {% if session.user_type == 'customer' %}
                <p>Status: {{complaint.complaint_status}}</p>
                {% endif %}
                {% if session.user_type == 'admin' %}
                <form action="update_complaint_status" method="POST">
                    <input type="hidden" name="complaint_id" value="{{complaint.complaint_id}}">
                    <select name="complaint_status">
                        <option value="pending">Pending</option>
                        <option value="rejected">Rejected</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="processing">Processing</option>
                        <option value="complete">Complete</option>
                        <input type="submit" value="Submit">
                    </select>
                </form>
                {% endif %}
            </div>
            <div class="card_row">
                <p>Complaint: {{complaint.complaint_title}}</p>
                <p>Product: {{complaint.title}}</p>
                <p>{{complaint.size}}</p>
                <p>{{complaint.color}}</p>
            </div>
            <p>{{complaint.complaint_description}}</p>
        </div>
    </div>
    {% endfor %}

    <div class="footer">
        <p>© Ecommerce Simulator</p>
    </div>

</body>
</html>