<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/base.css">
</head>
<body>

    <div class="header">
        <div class="primaryHeader">
            <h1>Ecommerce<br>Simulator</h1>
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <form class="form" action="/login" method="POST">
        <input type="text" name="user" placeholder="Email or Username"> <br>
        <input type="text" name="password" placeholder="Password"> <br>
        <input type="submit" value="Submit"> <br>
        <a href="{{ url_for('registration')}}">Don't have an account? Register now</a> <br>
        {{message}}
    </form>

    <div class="footer">
        <p>© Ecommerce Simulator</p>
    </div>

</body>
</html>